<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
  <div class="col">

    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="handleSubmit()">

      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre y apellido</label>
        <div class="col-sm-9">
          <input type="text"
                 formControlName="name"
                 class="form-control"
                 placeholder="Nombre del usuario"/>
          @if (formUtils.isValidFile('name',myForm)) {
            <span class="form-text text-danger">
              {{formUtils.getFieldError('name',myForm)}}
            </span>
          }
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email"
                 formControlName="email"
                 class="form-control"
                 placeholder="Email del usuario"/>
          @if (formUtils.isValidFile('email',myForm)) {
            <span class="form-text text-danger">
              {{formUtils.getFieldError('email',myForm)}}
            </span>
          }
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input type="text"
                 formControlName="username"
                 class="form-control"
                 placeholder="Nombre código del usuario"/>
          @if (formUtils.isValidFile('username',myForm)) {
            <span class="form-text text-danger">
              {{formUtils.getFieldError('username',myForm)}}
            </span>
          }
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password"
                 formControlName="password"
                 class="form-control"
                 placeholder="Password de su cuenta"/>
          @if (formUtils.isValidFile('password',myForm)) {
            <span class="form-text text-danger">
              {{formUtils.getFieldError('password',myForm)}}
            </span>
          }
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input type="password"
                 formControlName="confirmPassword"
                 class="form-control"
                 placeholder="Confirmar la contraseña"/>
          @if (formUtils.isValidFile('confirmPassword',myForm)) {
            <span class="form-text text-danger">
              {{formUtils.getFieldError('confirmPassword',myForm)}}
            </span>
          }
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end"
                  type="submit">
            Crear
          </button>
        </div>
      </div>


    </form>
  </div>
</div>


<h2>Form Valid: {{myForm.valid}}</h2>
<h2>Form Status: {{myForm.status}}</h2>
<h2>Form Pending: {{myForm.pending}}</h2>
<h2>Form errors</h2>
<pre>{{ myForm.errors | json }}</pre>

<h2>Form values</h2>
<pre>{{ myForm.value | json }}</pre>

<h5>Nombre</h5>
<pre>{{ myForm.controls['name'].value | json }}</pre>

<h5>Email</h5>
<pre>{{ myForm.controls['email'].value | json }}</pre>

<h5>Username</h5>
<pre>{{ myForm.controls['username'].value | json }}</pre>


<h5>Password</h5>
<pre>{{ myForm.controls['password'].value | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ myForm.controls['confirmPassword'].value | json }}</pre>
